<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class = "margin-class">
    <h2 class="header">Restaurant Menus</h2>
    <table class="menu">
        <tr th:each="menu: ${menus}">
            <td th:text="${menu.name}" class="item-name"></td>
            <td th:text="${menu.price}" class="item-price"></td>
        </tr>
    </table>
    <form action="/restaurant/view/menu" method="post">
        <table class="menu-input">
            <tr>
                <td class="item-name">Name </td>
                <td class="item-name"><input type="text" name="menu_name"></td>
            </tr>
            <tr>
                <td class="item-price">Price </td>
                <td class="item-price"><input type="number" name="menu_price"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Enter">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>